<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue实践--任务列表</title>
    <link rel="stylesheet" href="css/tdlist.css">
    <script src="js/vue.js"></script>
</head>
<body>
    <div class="page-top">
        <div class="page-content">
            <h2>任务计划列表</h2>
        </div>
    </div>
    <div class="main">
        <h3 class="big-title">添加任务：</h3>
        <!--需求2:添加任务-->
        <input
            placeholder="例如：吃饭睡觉打豆豆；    提示：+回车即可添加任务"
            class="task-input"
            type="text"
            @keyup.enter="addTodo"
            v-model="todo"
        />
        <!--需求3:显示隐藏任务提示-->
        <ul class="task-count" v-show="tdlist.length">
            <li>1个任务未完成</li>
            <li class="action">
                <a class="active" href="#">所有任务</a>
                <a href="#">未完成的任务</a>
                <a href="#">完成的任务</a>
            </li>
        </ul>
        <h3 class="big-title">任务列表：</h3>
        <div class="tasks">
            <!--需求3:显示隐藏任务提示-->
            <span class="no-task-tip" v-show="!tdlist.length">还没有添加任何任务</span>
            <ul class="todo-list">
                <!--需求1：列表渲染-->
                <!--                
                    <li class="todo completed">
                        <div class="view">
                            <input class="toggle" type="checkbox" />
                            <label>吃饭睡觉打豆豆</label>
                            <button class="destroy"></button>
                        </div>
                        <input class="edit" type="text" />
                    </li>
                -->

                <!--需求4:任务选中状态(文字/按钮样式)-->
                <!--需求6:②编辑任务-添加编辑样式editing-->
                <li class="todo" v-for="item in tdlist" v-bind:class="{completed:item.isChecked,editing:item===etodo}" >
                    <div class="view">
                        <!--需求4:任务选中状态-->
                        <input class="toggle" type="checkbox" v-model="item.isChecked" />
                        <!--需求6:①编辑任务-双击任务-->
                        <label @dblclick="editTodo(item)">{{ item.title }}</label>
                        <!--需求5:删除任务-->
                        <button class="destroy" @click="delTodo(item)" ></button>
                    </div>
                    <!--需求6:③编辑任务-编辑框内默认的任务内容-->
                    <!--需求6:④编辑任务-默认获取编辑框焦点-->
                    <!--需求6:⑤编辑任务-按Enter键或失去焦点,编辑完成-->
                    <!--需求6:⑤编辑任务-按ESC键,取消编辑任务-->
                    <input 
                        class="edit" 
                        type="text" 
                        v-model="item.title"
                        v-focus="etodo===item"
                        @blur="editTodoEnd"
                        @keyup.enter="editTodoEnd"
                        @keyup.esc="editTodoCancel(item)"
                    />
                </li>
            </ul>
        </div>
    </div>
    <script src="js/tdlist.js"></script>
</body>
</html>